*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}
.navbar ul
{
   list-style: none; 
   background: #261C2C;
   
}
.navbar ul li
{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    margin-left: 10px;
    color:#6E85B2;
   
}
.navbar ul li:hover
{
    cursor: pointer;
    background: #6E85B2;
    color:whitesmoke;
}
.navbar ul li a:hover
{
    cursor: pointer;
    background: #6E85B2;
    color:whitesmoke;
}
.navbar ul li a
{
    text-decoration: none;
    color:#6E85B2;
    padding: 10px 0px;
}
.navbar ul li ul
{
    display: none;
}
.navbar ul li:hover ul
{
    display:block;
    position: absolute;
    left:-10px;
    margin-top: 10px;
    background: none;

}

.navbar ul li:hover ul li
{
    background: white;
    width: 250px;
}
.navbar ul li:hover ul li:hover{
    background: #F5E8C7;
   
}

.navbar ul li:hover ul li:hover a
{
    background: none;
    color:#261C2C;

}
.navbar ul li:hover ul li span
{
    float:right;
    text-align: center;
    background: coral;
    padding:2px 4px;
    border-radius:6px;
    color:#261C2C;
    
}
.showcase
{
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color:teal;
    background: coral;
}

@media (max-width:600px)
{
    .navbar ul li
    {
        display: block;
        
    }
    .navbar ul li:hover ul
    {
       width:100px;
       position: relative;
    }
   
}