#top
{
    background-color: red;
    display: block;
    width: 100px;
    height: 100px;
    
}
#middle
{
    background-color: blue;
    display: inline;
    width: 100px;
    height: 100px;
    
}
#bottom
{
    background-color: green;
    display: block;
    width: 100px;
    height: 100px;
  
}

#top1
{
    background-color: red;
    display: block;
    width: 100px;
    height: 100px;
    margin-left:200px;
}
#middle1
{
    background-color: blue;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left:200px;
}
#bottom1
{
    background-color: green;
    display: block;
    width: 100px;
    height: 100px;
    margin-left:200px;
}
#none
{
    background-color: blanchedalmond;
    display: none;
    width: 100px;
    height: 100px;
    margin-left:200px;
}#visibility
{
    background-color: blue;
    visibility: hidden;
    width: 100px;
    height: 100px;
    margin-left:200px;
}
body{
    background-color: grey;
    border-style: solid;
    border-radius: 2px;
}